.loop-node {
    width: 50px;
    height: 50px;
    background-color: red;
    transform: rotate(45deg);
    background-color: #29ABE2;

    .react-flow__handle {
        border: 1px solid #29ABE2;
        background-color: #FFFFFF;
    }

    .react-flow__handle-top {
        left: 0;
    }

    .react-flow__handle-bottom {
        left: 100%;
    }

    .loop-label {
        display: block;
        color: #FFFFFF;
        line-height: 50px;
        transform: rotate(-45deg);
        font-size: 16px;
        font-weight: 500;
    }
}