.if-node {
    width: 40px;
    height: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #29ABE2;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);

    .react-flow__handle {
        border: 1px solid #29ABE2;
        background-color: #29ABE2;
    }

    .react-flow__handle-top {
        transform: translate(-4px, 5px);
    }

    .react-flow__handle-bottom {
        transform: translate(-4px, -5px);
    }

    // .react-flow__handle-left {
    //     top: 100%;
    // }

    .react-flow__handle-right {
        transform: translate(-5px, -4px);
    }

    .if-label {
        display: block;
        color: #fff;
        line-height: 40px;
        font-size: 16px;
        font-weight: 500;
    }
}