.path-config {
  background-color: #fff;
  color: #29ABE2;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  width: 100px;
  padding: 5px;
  max-height: 56px;
  border-radius: 8px;

  .react-flow__handle {
    background-color: #fff;
  }

  .react-flow__handle-top {
    transform: translateY(5px);
  }

  .react-flow__handle-bottom {
    transform: translateY(-5px);
  }
}